
a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  max-width: 500px;
  margin: 2px auto;
  background: #353434;
  position: relative;
}

.tab-content {
  max-width: 500px;
  border: 1px solid black;
  margin: 0 auto;
}

li {
  display: inline-block;
  padding: 10px 20px;
  white-space: nowrap;
  transition: all 0.3s ease-in;
  border-bottom: 4px solid transparent;
}

li:hover {
  border-bottom: 4px solid white;
  opacity: 0.7;
  cursor: pointer;
}

.tab-content > div {
  display: none;
}

.tab-content > div.active {
  display: block;
}

.owl-theme .owl-controls .owl-nav {
  position: absolute;
  width: 100%;
  top: 0;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  position: absolute;
  background: none;
  color: black;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
  background: none;
  color: black;
}

.owl-theme .owl-controls .owl-nav .owl-next {
  right: 0;
  transform: translate(120%);
}

.owl-theme .owl-controls .owl-nav .owl-prev {
  left: 0;
  transform: translate(-120%);
}


.slick-prev:before, 
.slick-next:before {
    color: black;    
}

.slick-dots {
    bottom: -30px;
}
