<div style="margin-top: 0.5rem">
  <div
    *ngIf="riskScore"
    style="margin-bottom: 0.5rem"
    role="status"
    class="cds--inline-notification cds--inline-notification--low-contrast"
    [ngClass]="{
      'cds--inline-notification--error':
        riskScore === 'Highest Risk Client' || riskScore === 'High Risk Client',
      'cds--inline-notification--success':
        riskScore === 'Medium Risk Client' || riskScore === 'Low Risk',
      'cds--inline-notification--warning': riskScore === 'No risk score available'
    }"
  >
    <div class="cds--inline-notification__details">
      <svg
        *ngIf="
          riskScore === 'Highest Risk Client' ||
          riskScore === 'High Risk Client'
        "
        focusable="false"
        preserveAspectRatio="xMidYMid meet"
        fill="currentColor"
        width="20"
        height="20"
        viewBox="0 0 32 32"
        aria-hidden="true"
        class="cds--inline-notification__icon"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="none"
          d="M16,26a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,16,26Zm-1.125-5h2.25V12h-2.25Z"
          data-icon-path="inner-path"
        ></path>
        <path
          d="M16.002,6.1714h-.004L4.6487,27.9966,4.6506,28H27.3494l.0019-.0034ZM14.875,12h2.25v9h-2.25ZM16,26a1.5,1.5,0,1,1,1.5-1.5A1.5,1.5,0,0,1,16,26Z"
        ></path>
        <path
          d="M29,30H3a1,1,0,0,1-.8872-1.4614l13-25a1,1,0,0,1,1.7744,0l13,25A1,1,0,0,1,29,30ZM4.6507,28H27.3493l.002-.0033L16.002,6.1714h-.004L4.6487,27.9967Z"
        ></path>
        <title>notification</title>
      </svg>

      <svg
        *ngIf="riskScore === 'Medium Risk Client' || riskScore === 'Low Risk'"
        focusable="false"
        preserveAspectRatio="xMidYMid meet"
        fill="currentColor"
        width="20"
        height="20"
        viewBox="0 0 20 20"
        aria-hidden="true"
        class="cds--inline-notification__icon"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10,1c-4.9,0-9,4.1-9,9s4.1,9,9,9s9-4,9-9S15,1,10,1z M8.7,13.5l-3.2-3.2l1-1l2.2,2.2l4.8-4.8l1,1L8.7,13.5z"
        ></path>
        <path
          fill="none"
          d="M8.7,13.5l-3.2-3.2l1-1l2.2,2.2l4.8-4.8l1,1L8.7,13.5z"
          data-icon-path="inner-path"
          opacity="0"
        ></path>
        <title>notification</title>
      </svg>
      <div class="cds--inline-notification__text-wrapper">
        <div class="cds--inline-notification__title" dir="ltr">
          {{ riskScore }}
        </div>
        <div class="cds--inline-notification__subtitle" dir="ltr">
          {{ riskScoreMessage }}
        </div>
      </div>
    </div>
  </div>

  <button
    (click)="getRiskScore()"
    class="cds--btn cds--btn--primary cds--layout--size-sm"
    type="button"
  >
    <span *ngIf="!isLoading">Get HIV risk category</span>
    <span *ngIf="isLoading">Loading ...</span>
  </button>
</div>
