<div>

  <div class="grid">
    <div class="col">
      <bx-date-picker [value]="value" (bx-date-picker-changed)="onDateSelect($event)">
        <bx-date-picker-input [value]="value" kind="single">
        </bx-date-picker-input>
      </bx-date-picker>
    </div>

    <div class="col" *ngIf="showWeeks">
      <mat-select placeholder="Select Weeks" name="weeks" (selectionChange)="weekSelect($event)">
        <mat-option *ngFor="let count of weeks" [value]="count">
          {{ count }} Weeks
        </mat-option>
      </mat-select>
    </div>
    <div class="col">
      <div class="bottom_aligner"></div>
      <div  *ngIf="showTime">
        <!-- <ngx-time-picker  [initTime]="value" [use12Hour]="true"
          (onSelectTime)="onTimeSelect($event)"></ngx-time-picker> -->

        <!-- <time-picker
          *ngIf="showTimePicker"
          [initTime]="value"
          [use12Hour]="true"
          (onSelectTime)="onTimeSelect($event)"
          (onTimePickerCancel)="toggleTimePicker($event)"
        ></time-picker> -->
      </div>
    </div>
  </div>
</div>