#time-section {
  display: inline-block;
}
#ngx-atp-time-picker {
  width: 100%;
}
#ngx-mat-form-field {
  width: 100%;
}

.up {
  bottom: 100% !important;
  top: auto !important;
}

.time-btn {
  margin-top: -20px;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}

.grid > div .col {
  min-height: 10px;
  min-width: 10px;
}
