<div class="tab-container">
  <section>
    <div class="tab" *ngIf="tabs.length > 1">
      <button
        ofeHoverClass="hover"
        class="tablinks completed"
        *ngFor="let tab of tabs"
        (click)="selectTab(tab)"
        [class]="getStatusClasses(tab.active, tab.disabled)"
      >
        <span>{{ tab.tabTitle }}</span>
      </button>
    </div>
  </section>
  <section>
    <div
      id="tab"
      [ngClass]="{
        'tab-content': tabs.length > 1,
        'tab-content-no-margin': tabs.length === 1
      }"
    >
      <ng-content></ng-content>
    </div>
  </section>
</div>
