<div class="tab-container">
  <section>
    <div class="tab">
      <button
        ofeHoverClass="hover"
        class="tablinks completed"
        *ngFor="let tab of tabs"
        (click)="selectTab(tab)"
        [class]="getStatusClasses(tab.active, tab.disabled)"
      >
        <span>{{ tab.tabTitle }}</span>
      </button>
      <ng-container *ngTemplateOutlet="formSubmissionTemplate"></ng-container>
    </div>
  </section>
  <section id="tab">
    <ng-content></ng-content>
  </section>
</div>
