h4 {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
h4:after {
  content: '';
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-01);
}

.pane {
  background-color: #f4f4f4;
  margin: 0.5rem 0.125rem;
}
