<div class="bx--form-item">
  <div
    data-numberinput
    [attr.data-invalid]="invalid ? true : null"
    class="bx--number"
    [ngClass]="{
      'bx--number--light': theme === 'light',
      'bx--number--nolabel': !label,
      'bx--number--helpertext': helperText,
      'bx--skeleton': skeleton,
      'bx--number--sm': size === 'sm',
      'bx--number--xl': size === 'xl'
    }"
  >
    <label for="tj-input" class="bx--label">{{ label }}</label>
    <div
      class="bx--number__input-wrapper"
      [ngClass]="{
        'bx--number__input-wrapper--warning': warn
      }"
    >
      <input
        type="number"
        [id]="id"
        [value]="value"
        [attr.min]="min"
        [attr.max]="max"
        [attr.step]="step"
        [disabled]="disabled"
        [required]="required"
        (input)="onNumberInputChange($event)"
      />
      <div class="bx--number__controls">
        <button
          type="button"
          class="bx--number__control-btn down-icon"
          (click)="onDecrement()"
          title="Decrement number"
          [attr.aria-label]="decrementLabel"
          tabindex="-1"
        >
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
            class="down-icon"
          >
            <path d="M8 15H24V17H8z"></path>
          </svg>
        </button>
        <div class="bx--number__rule-divider"></div>
        <button
          type="button"
          class="bx--number__control-btn up-icon"
          (click)="onIncrement()"
          title="Increment number"
          [attr.aria-label]="incrementLabel"
          tabindex="-1"
        >
          <svg
            focusable="false"
            preserveAspectRatio="xMidYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            width="16"
            height="16"
            viewBox="0 0 32 32"
            aria-hidden="true"
            class="up-icon"
          >
            <path
              d="M17 15L17 8 15 8 15 15 8 15 8 17 15 17 15 24 17 24 17 17 24 17 24 15z"
            ></path>
          </svg>
        </button>
        <div class="bx--number__rule-divider"></div>
      </div>
    </div>
    <div *ngIf="helperText && !invalid && !warn" class="bx--form__helper-text">
      <ng-container *ngIf="!isTemplate(helperText)">{{
        helperText
      }}</ng-container>
      <ng-template
        *ngIf="isTemplate(helperText)"
        [ngTemplateOutlet]="helperText"
      ></ng-template>
    </div>
    <div *ngIf="!warn && invalid" class="bx--form-requirement">
      <ng-container *ngIf="!isTemplate(invalidText)">{{
        invalidText
      }}</ng-container>
      <ng-template
        *ngIf="isTemplate(invalidText)"
        [ngTemplateOutlet]="invalidText"
      ></ng-template>
    </div>
    <div *ngIf="!invalid && warn" class="bx--form-requirement">
      <ng-container *ngIf="!isTemplate(warnText)">{{ warnText }}</ng-container>
      <ng-template
        *ngIf="isTemplate(warnText)"
        [ngTemplateOutlet]="warnText"
      ></ng-template>
    </div>
  </div>
</div>
