a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 2px auto;
  position: relative;
}

li {
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
  transition: all 0.3s ease-in;
  border-bottom: 4px solid transparent;
}

li:hover {
  border-bottom: 4px solid white;
  opacity: 0.7;
  cursor: pointer;
}

.owl-theme .owl-controls .owl-nav {
  position: absolute;
  width: 100%;
  top: 0;
}

.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  position: absolute;
  background: none;
  color: black;
}

.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
  background: none;
  color: black;
}

.owl-theme .owl-controls .owl-nav .owl-next {
  right: 0;
  transform: translate(120%);
}

.owl-theme .owl-controls .owl-nav .owl-prev {
  left: 0;
  transform: translate(-120%);
}

.slick-initialized .swipe-tab-content {
  position: relative;
  min-height: 365px;
}
@media screen and (min-width: 767px) {
  .slick-initialized .swipe-tab-content {
    min-height: 500px;
  }
}
.slick-initialized .swipe-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: none;
  border: 0;
  color: #757575;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid rgba(51, 122, 183, 0);
  transition: all 0.5s;
}
.slick-initialized .swipe-tab:hover {
  color: #337ab7;
}
.slick-initialized .swipe-tab.active-tab {
  border-bottom-color: #337ab7;
  color: #337ab7;
  font-weight: bold;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select2-container {
  margin-top: -5px;
}

.btn {
  padding: 0px 12px !important;
}

.form-tooltip {
  color: rgb(51, 122, 183);
  display: inline-block;
}
.question-info {
  opacity: 0;
  height: 0px;
  display: none;
  transition-duration: opacity 1s ease-out;
  transtion-delay: 0.5s;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #696969;
  border-style: ridge;
  border-width: 1px;
  border-color: #337ab7;
  margin-top: 2px;
}
.hide-info {
  display: none;
  height: 0px;
}
.form-tooltip:hover ~ .question-info {
  display: block;
  opacity: 1;
  height: auto;
}
.form-tooltip .tooltipcontent::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  right: 0%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #337ab7;
  border-left-color: transparent;
}

ng-select.form-control {
  padding-top: 0;
  height: auto;
  padding-bottom: 0;
}

.forms-dropdown-menu {
  max-height: 450px;
  overflow-y: scroll;
}
.no-border {
  border: 0;
  box-shadow: none;
}
.text-danger {
  color: var(--cds-support-01, #da1e28);
}
.error {
  margin-bottom: 3rem;
}
.afe-control {
  margin-bottom: 0.125rem;
}
[hidden] {
  display: none !important;
}
.accordion-content-dark {
  background-color: #f4f4f4;
  padding-right: 1rem;
}
.accordion-content-override {
  box-sizing: content-box;
}

.question-area {
  width: 100%;
  max-width: 95%;
}

.in-line {
  display: inline-block;
  padding-right: 0.5rem;
}
