<!--CONTAINERS-->
<div *ngIf="node.question.renderingType === 'form'">
  <ngx-tabset (onSelect)="tabSelected($event)" [selectedIndex]="activeTab">
    <ngx-tab [tabTitle]="question.label" *ngFor="let question of node.question.questions; let i = index">
      <form-renderer [node]="node.children[question.key]" [parentComponent]="this" [parentGroup]="node.control" [labelMap]="labelMap">
      </form-renderer>
    </ngx-tab>
    <error-renderer [form]="node.form"></error-renderer>
  </ngx-tabset>

</div>
<div *ngIf="node.question.renderingType === 'page'">
  <!--Page Components-->
  <app-custom-component-wrapper [dark]="theme === 'light'" [componentConfigs]="node.question.componentConfigs">
  </app-custom-component-wrapper>
  <form-renderer *ngFor="let question of node.question.questions" [parentComponent]="this"
    [node]="node.children[question.key]" [parentGroup]="parentGroup" [labelMap]="labelMap"></form-renderer>
</div>
<div *ngIf="node.question.renderingType === 'section' && checkSection(node)">
  <div class="bx--accordion__item" [ngClass]="{ 'bx--accordion__item--active': !isCollapsed }">
    <button class="bx--accordion__heading" type="button" [attr.aria-expanded]="isCollapsed ? 'false' : 'true'"
      aria-controls="accordion-item-0" (click)="isCollapsed = !isCollapsed">
      <svg class="bx--accordion__arrow" ibmIcon="chevron--right" size="16" xmlns="http://www.w3.org/2000/svg"
        focusable="false" preserveAspectRatio="xMidYMid meet" aria-hidden="true" width="16" height="16"
        viewBox="0 0 16 16">
        <path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path>
      </svg>
      <p class="bx--accordion__title">
        {{ node.question.label }}
      </p>
    </button>
    <div [collapse]="isCollapsed">
      <!--Section Components-->
      <app-custom-component-wrapper [dark]="(theme === 'light')" [componentConfigs]="node.question.componentConfigs">
      </app-custom-component-wrapper>
      <div class="bx--accordion__content accordion-content-override" [ngClass]="{
        'accordion-content-dark': theme === 'light'}">
        <form-renderer *ngFor="let question of node.question.questions" [parentComponent]="this"
          [node]="node.children[question.key]" [parentGroup]="parentGroup" [labelMap]="labelMap"></form-renderer>
      </div>
    </div>
  </div>
</div>

<!-- MESSAGES -->
<div *ngIf="node.control && node.control.alert && node.control.alert !== ''" class="alert alert-warning">
  <a class="close" data-dismiss="alert">&times;</a> {{ node.control.alert }}
</div>

<!--CONTROLS-->


<div *ngIf="node.question.controlType === 0" [formGroup]="parentGroup" [hidden]="node.control.hidden"
  [ngClass]="{ disabled: node.control.disabled }">
  <app-custom-component-wrapper [dark]="!(theme === 'light')" [componentConfigs]="node.question.componentConfigs">
  </app-custom-component-wrapper>
  <div class="bx--form-item">
    <!--LEAF CONTROL-->
    <div class="question-area">
      <a class="form-tooltip pull-right" (click)="toggleInformation(node.question.extras.id)" data-placement="right"
        *ngIf="
        node.question &&
        node.question.extras.questionInfo &&
        node.question.extras.questionInfo !== '' &&
        node.question.extras.questionInfo !== ' '
      ">
        <i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i>
      </a>

      <label *ngIf="node.question.label" [style.color]="hasErrors() ? 'red' : ''" class="bx--label"
        [attr.for]="node.question.key">
        {{ node.question.required ? '*' : '' }} {{ node.question.label }}
      </label>

      <div *ngIf="node.question.extras.questionOptions.customControl; else nativeControls">
        <app-custom-control-wrapper [formControlName]="node.question.key" [id]="node.question.key + 'id'"
          [question]="node.question">
        </app-custom-control-wrapper>
      </div>

      <ng-template #nativeControls>
        <div class="afe-control" [ngSwitch]="node.question.renderingType">
          <ibm-select [theme]="theme" *ngSwitchCase="'select'" [formControlName]="node.question.key"
            [id]="node.question.key + 'id'">
            <option *ngFor="let o of node.question.options" [value]="o.value">
              {{ o.label }}
            </option>
          </ibm-select>

          <!-- <app-file-upload *ngSwitchCase="'file'" [dataSource]="dataSource" [formControlName]="node.question.key"
          [id]="node.question.key + 'id'" (fileChanged)="upload($event)">
        </app-file-upload> -->
          <div *ngSwitchCase="'file'">
            <app-file-upload [dataSource]="dataSource" [formControlName]="node.question.key"
              [id]="node.question.key + 'id'" (fileChanged)="upload($event)">
            </app-file-upload>
          </div>

          <textarea [theme]="theme" ibmTextArea [ngClass]="{
          'bx--text-area--light': theme === 'light',
          'bx--text-area--invalid': !node.control.valid
      }" [placeholder]="node.question.placeholder" [rows]="node.question.rows" class="bx--text-area"
            *ngSwitchCase="'textarea'" [formControlName]="node.question.key" [id]="node.question.key + 'id'">
        </textarea>

          <ngx-remote-select [theme]="theme" *ngSwitchCase="'remote-select'" [placeholder]="node.question.placeholder"
            tabindex="0" [dataSource]="dataSource" [componentID]="node.question.key + 'id'"
            [formControlName]="node.question.key" [id]="node.question.key + 'id'"></ngx-remote-select>

          <ngx-datetimepicker [weeks]="node.question.extras.questionOptions.weeksList"
            [showWeeks]="node.question.showWeeksAdder" [theme]="theme" [id]="node.question.key + 'id'"
            [formControlName]="node.question.key" *ngSwitchCase="'date'">
          </ngx-datetimepicker>
          <ng-select [ngClass]="{'afe-custom': theme === 'light'}" [id]="node.question.key + 'id'"
            *ngSwitchCase="'multi-select'" [items]="node.question.options" bindLabel="label" bindValue="value"
            [multiple]="true" placeholder="" clearAllText="Clear" [formControlName]="node.question.key">
          </ng-select>

          <ng-select [ngClass]="{'afe-custom': theme === 'light'}" [id]="node.question.key + 'id'"
            *ngSwitchCase="'single-select'" [items]="node.question.options" bindLabel="label" bindValue="value"
            placeholder="" clearAllText="Clear" [formControlName]="node.question.key">
          </ng-select>

          <number-input [theme]="theme" *ngSwitchCase="'number'" [id]="node.question.key + 'id'"
            [min]="node.question.extras.questionOptions.min" [max]="node.question.extras.questionOptions.max"
            [formControlName]="node.question.key" [attr.placeholder]="node.question.placeholder">
          </number-input>

          <input [theme]="theme" class="bx--text-input" ibmText *ngSwitchDefault [formControlName]="node.question.key"
            [attr.placeholder]="node.question.placeholder" [type]="node.question.renderingType"
            [id]="node.question.key + 'id'" [readOnly]="node.question.extras.readonly"/>

          <div *ngSwitchCase="'radio'">
            <div *ngFor="let o of node.question.options">
              <label class="form-control no-border">
                <input type="radio" [formControlName]="node.question.key" [id]="node.question.key + 'id'"
                  [value]="o.value" />
                {{ o.label }}
              </label>
            </div>
          </div>

          <div *ngSwitchCase="'checkbox'">
            <checkbox [id]="node.question.key + 'id'" [formControlName]="node.question.key"
              [options]="node.question.options" [selected]="node.control.value"></checkbox>
          </div>

          <div *ngIf="
            node.question.enableHistoricalValue && node.question.historicalDisplay
          " style="margin-top: 2px">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-9">
                  <span class="text-warning">Previous Value: </span>
                  <strong>{{ node.question.historicalDisplay?.text }}</strong>
                  <span *ngIf="node.question.showHistoricalValueDate">
                    <span> | </span>
                    <strong class="text-primary">{{ node.question.historicalDisplay?._date }}
                    </strong>
                    <span class="text-primary" *ngIf="
                      node.question.historicalDisplay &&
                      node.question.historicalDisplay._date
                    ">
                      ({{ node.question.historicalDisplay._date | timeAgo }})</span>
                  </span>
                </div>
                <button type="button" [node]="node" [name]="'historyValue'"
                  class="bx--btn bx--btn--primary bx--btn--sm col-xs-3">
                  Use Value
                </button>
              </div>
            </div>
          </div>
          <appointments-overview [node]="node"></appointments-overview>
          <div *ngIf="hasErrors()">
            <div *ngFor="let e of errors()">
              <span class="text-danger">{{ e }}</span>
            </div>
          </div>
        </div>
      </ng-template>



      <div class="question-info col-md-12 col-lg-12 col-sm-12" id="{{ node.question.extras.id }}" *ngIf="
        node.question &&
        node.question.extras.questionInfo &&
        node.question.extras.questionInfo !== '' &&
        node.question.extras.questionInfo !== ' '
      ">
        {{ node.question.extras.questionInfo }}
      </div>
    </div>
  </div>
</div>
<div *ngIf="node.question.controlType === 1" [hidden]="node.control.hidden"
  [ngClass]="{ disabled: node.control.disabled }">
  <!--ARRAY CONTROL-->
  <div [ngSwitch]="node.question.renderingType">
    <div class="well" style="padding: 2px" *ngSwitchCase="'repeating'">
      <h4 style="margin: 2px; font-weight: bold">{{ node.question.label }}</h4>
      <hr style="
          margin-left: -2px;
          margin-right: -2px;
          margin-bottom: 4px;
          margin-top: 8px;
          border-width: 2px;
        " />
      <div [ngSwitch]="node.question.extras.type">
        <div *ngSwitchCase="'testOrder'">
          <div *ngFor="let child of node.children; let i = index">
            <form-renderer *ngFor="let question of child.question.questions" [parentComponent]="this"
              [node]="child.children[question.key]" [parentGroup]="child.control" [labelMap]="labelMap"></form-renderer>
            <div>{{ child.orderNumber }}</div>
            <button type="button " class="bx--btn bx--btn--danger bx--btn--sm" (click)="node.removeAt(i)">
              Remove
            </button>
            <br />
            <hr style="
                margin-left: -2px;
                margin-right: -2px;
                margin-bottom: 4px;
                margin-top: 8px;
                border-width: 1px;
              " />
          </div>
        </div>

        <div *ngSwitchCase="'obsGroup'" style="margin-bottom: 20px">
          <div *ngFor="let child of node.children; let i = index">
            <form-renderer *ngFor="let question of child.question.questions" [parentComponent]="this"
              [node]="child.children[question.key]" [parentGroup]="child.control" [labelMap]="labelMap"></form-renderer>
            <button type="button " class="bx--btn bx--btn--danger bx--btn--sm" (click)="node.removeAt(i)">
              Remove
            </button>
            <br />
            <hr style="
                margin-left: -2px;
                margin-right: -2px;
                margin-bottom: 4px;
                margin-top: 8px;
                border-width: 1px;
              " />
          </div>
        </div>
      </div>
      <button type="button" class="bx--btn bx--btn--primary" (click)="node.createChildNode()">
        Add
      </button>
    </div>
  </div>
</div>
<div *ngIf="node.question.controlType === 2" [hidden]="node.control.hidden"
  [ngClass]="{ disabled: node.control.disabled }">
  <!--GROUP-->
  <div [ngSwitch]="node.question.renderingType">
    <div *ngSwitchCase="'group'">
      <form-renderer *ngFor="let question of node.question.questions" [parentComponent]="this"
        [node]="node.children[question.key]" [parentGroup]="node.control" [labelMap]="labelMap"></form-renderer>
    </div>
    <div *ngSwitchCase="'field-set'" style="border: 1px solid #eeeeee; padding: 2px; margin: 2px">
      <form-renderer *ngFor="let question of node.question.questions" [parentComponent]="this"
        [node]="node.children[question.key]" [parentGroup]="node.control" [labelMap]="labelMap"></form-renderer>
    </div>
  </div>
</div>
