<div>

	<div class="container">
		<div #slick class="slider swipe-tabs">
			<div role="presentation" (click)="clickTab(i)" class="swipe-tab" [class.active-tab]="activeTab === i" *ngFor="let page of schema.pages; let i = index;">{{page.label}}</div>
		</div>
		<div *ngFor="let page of schema.pages; let i = index;">
			<div [class.active]="activeTab === i" *ngIf="activeTab === i" [@flyIn]="in">
				<div class="panel  panel-primary" *ngFor="let section of page.sections; let j = index;">
					<div class="panel-heading">{{section.label}}</div>
					<div class="panel-body">
						<form-entry [formEntryFormData]="getSectionData(section.id)">
						</form-entry>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>