.date-time-picker-container {
  display: grid;
  row-gap: 1rem;
}

::ng-deep .highlight-date {
  border-radius: 999px;
  background-color: purple !important;
}

::ng-deep .highlight-date {
  border-radius: 999px;
  background-color: lightgreen !important;
}

::ng-deep .highlight-date[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 9px 10px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 6px;
  white-space: pre-wrap;
  z-index: 1000;
  height: fit-content;
  width: max-content;
  text-align: start;
}

::ng-deep .highlight-date[data-tooltip]:hover::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid transparent;
  border-top-color: #333;
  z-index: 1000;
}
