<fieldset class="cds--fieldset">
  <div
    *ngFor="let option of options; let i = index"
    class="cds--form-item cds--radio-wrapper"
    [ngClass]="{ inline: orientation === 'horizontal' }"
  >
    <label class="form-control no-border">
      <input
        type="radio"
        [id]="id + '_' + i"
        [name]="id"
        [checked]="option.checked"
        [value]="option.value"
        (click)="handleClick(option)"
        (change)="handleChange(option)"
      />
      {{ option.label }}
    </label>
  </div>
</fieldset>
