<div>
  <ng-template #error>{{ 'componentLoadingFailed' | translate }}</ng-template>
  <ng-template #loading>{{ 'loadingComponent' | translate }}</ng-template>
  <div *ngFor="let componentConfig of componentConfigs">
    <ax-lazy-element
      *axLazyElementDynamic="
        componentConfig.tag;
        url: componentConfig.url;
        module: true;
        errorTemplate: error;
        loadingTemplate: loading
      "
      [config]="componentConfig"
      [dark]="dark"
    >
    </ax-lazy-element>
  </div>
</div>
