.page-label{
    font-size: 20px;
    font-weight: bold;
}

.section-label{
    font-size: 18px;
    font-weight: bold;
}
.panel-default{
    border: none !important;
}

.question{
    font-weight: 500;
    font-size: 12px;
    margin-left: 10px;
}
.panel{
    margin-bottom: 5px;  
}
.details {
    margin-left:15px;
}
hr {
    margin: 10px;
}