<div class="panel panel-default">
  <p class="page-label panel-heading text-primary">Encounter Details</p>
</div>
<div class="detail">
  
  <div class="question" *ngIf="enc.provider">
    <p>Provider :
      <span>{{enc.provider.display}}</span>
    </p>
    <hr>
  </div>



  <div class="question" *ngIf="enc.encounterType">
    <p>Encounter Type :
      <span>{{enc.encounterType.display}}</span>
    </p>
    <hr>
  </div>



  <div class="question" *ngIf="enc.visit">
    <p>Visit :
      <span>{{enc.visit.display}}</span>
    </p>
    <hr>
  </div>




  <div class="question" *ngIf="enc.location">
    <p>Location :
      <span>{{enc.location.display}}</span>
    </p>
    <hr>
  </div>


  <div class="question" *ngIf="enc.encounterDatetime">
    <p>Date :
      <span>{{enc.encounterDatetime | date:'short'}}</span>
    </p>
    <hr>
  </div>
</div>
