<div *ngIf="form && form.rootNode">
  <form [formGroup]="form.rootNode.control">
    <ofe-form-renderer
      [formSubmissionTemplate]="buttonsTemplate"
      [node]="form.rootNode"
      [labelMap]="labelMap"
    >
    </ofe-form-renderer>
  </form>
</div>
<ng-template #buttonsTemplate>
  <div class="saveAndCloseButtons">
    <button
      (click)="reset($event)"
      class="cds--btn cds--btn--secondary"
      type="button"
    >
      Cancel
    </button>
    <button
      (click)="onSubmit($event)"
      class="cds--btn cds--btn--primary"
      type="button"
    >
      Save
    </button>
  </div>
</ng-template>
