<div *ngIf="form && form.rootNode">
  <form [formGroup]="form.rootNode.control">
    <ofe-form-renderer
      [node]="form.rootNode"
      [labelMap]="labelMap"
    ></ofe-form-renderer>
    <app-diagram-embed [diagramUrl]="diagramUrl"></app-diagram-embed>

    <input type="file" (change)="onDiagramUpload($event.target.files[0])">
  </form>

  <div class="cds--offset-md-2">
    <button
      (click)="reset($event)"
      class="cds--btn cds--btn--secondary"
      type="button"
    >
      Cancel
    </button>
    <button
      (click)="onSubmit($event)"
      class="cds--btn cds--btn--primary"
      type="button"
    >
      Save
    </button>
  </div>
</div>
