<div>
  <ng-template #error>{{ 'COMPONENT_LOADING_FAILED' | translate }}</ng-template>
  <ng-template #loading>{{ 'LOADING_COMPONENT' | translate }}</ng-template>
  <ax-lazy-element
    *axLazyElementDynamic="
      customControlConfig.tag;
      url: customControlConfig.url;
      module: true;
      errorTemplate: error;
      loadingTemplate: loading
    "
    [question]="question"
    [value]="value"
    [disabled]="disabled"
    (on-change)="onValueChange($event)"
    [config]="config"
  >
  </ax-lazy-element>
</div>
