*,
*::before,
*::after {
  box-sizing: border-box;
}

.picker-wrap {
  width: 95vw;
  max-width: 40rem;
  font-family: 'Open Sans';
}

.picker-box {
  width: 100%;
  padding: 0.625rem 1rem;
  user-select: none;
}

.picker-header,
.picker-footer {
  font-size: 1.333rem;
  line-height: 2.5rem;
  height: 2.5rem;
  width: 100%;
}

.picker-header {
  text-align: center;
}

.picker-table {
  width: 100%;
  margin: 2.5rem 0;
}

.picker-table-time {
  font-size: 2.37rem;
  line-height: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  user-select: none;
}

.picker-table-number,
.picker-table-meridiem,
.picker-table-separator {
  text-align: center;
}

.picker-table-number,
.picker-table-meridiem {
  position: relative;
  width: 20%;
}

.arrow {
  position: absolute;
  left: 50%;
  border: solid #777;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.25rem;
  cursor: pointer;
}
.arrow.up {
  top: -1rem;
  transform: translateX(-50%) rotate(-135deg);
}
.arrow.down {
  bottom: -1rem;
  transform: translateX(-50%) rotate(45deg);
}
.arrow:hover {
  border-color: #1975d2;
}

.picker-table-separator {
  width: calc(20% / 3);
}

.picker-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}
.picker-footer .picker-action {
  width: 25%;
  text-align: center;
}
.picker-footer .picker-action:hover {
  background-color: #b1dcfb;
}
.picker-footer .picker-action .text {
  padding-left: 0.8rem;
}
.picker-footer .action-now::before,
.picker-footer .action-confirm::before,
.picker-footer .action-clear::before,
.picker-footer .action-close::before {
  content: ' ';
  position: relative;
  display: inline-block;
  height: 0;
  width: 0;
}
.picker-footer .action-now::before {
  border-top: 0.66em solid #0059bc;
  border-left: 0.66em solid transparent;
}
.picker-footer .action-confirm::before {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #00b5ad;
}
.picker-footer .action-clear::before {
  top: -0.5rem;
  width: 1rem;
  border-top: 3px solid #e20;
}
.picker-footer .action-close::before {
  width: 1rem;
  height: 1rem;
  background: linear-gradient(
      to bottom,
      transparent 35%,
      #777 35%,
      #777 65%,
      transparent 65%
    ),
    linear-gradient(
      to right,
      transparent 35%,
      #777 35%,
      #777 65%,
      transparent 65%
    );
  transform: rotate(45deg);
}
