<div *ngIf="showErrors()" class="container">
  <div
    data-notification
    *ngFor="let errorNode of errorNodes"
    class="cds--inline-notification cds--inline-notification--error cds--inline-notification--low-contrast pointer"
    role="alert"
    (click)="announceErrorField(errorNode)"
  >
    <div class="cds--inline-notification__details">
      <div class="cds--inline-notification__text-wrapper">
        <p class="cds--inline-notification__title">
          {{ errorNode.question.label }}
        </p>
        <p class="cds--inline-notification__subtitle">
          {{ getControlError(errorNode) }}
        </p>
      </div>
    </div>
    <button
      tabindex="0"
      class="cds--inline-notification__action-button cds--btn cds--btn--sm cds--btn--ghost"
      type="button"
    >
      Fix
    </button>
    <svg
      focusable="false"
      preserveAspectRatio="xMidYMid meet"
      style="will-change: transform"
      xmlns="http://www.w3.org/2000/svg"
      class="cds--inline-notification__icon"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      aria-hidden="true"
    >
      <path
        d="M10,1c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S15,1,10,1z M13.5,14.5l-8-8l1-1l8,8L13.5,14.5z"
      ></path>
      <path
        d="M13.5,14.5l-8-8l1-1l8,8L13.5,14.5z"
        data-icon-path="inner-path"
        opacity="0"
      ></path>
    </svg>
  </div>
</div>
