/* You can add global styles to this file, and also import other style files */
@import '~carbon-components/css/carbon-components.css';
:root {
  --brand-01: #005d5d;
  --brand-02: #004144;
  --brand-03: #007d79;
}
