<div *ngIf="showAppointments" class="container">
  <ng-container *ngIf="loadingAppointments; else appointmentsContent">
    <div class="cds--inline-loading" aria-live="assertive">
      <div class="cds--inline-loading__animation">
        <div
          aria-atomic="true"
          aria-labelledby="loading-id"
          aria-live="assertive"
          class="cds--loading cds--loading--small"
        >
          <label id="loading-id" class="cds--visually-hidden">
            Active loading indicator
          </label>
          <svg class="cds--loading__svg" viewBox="0 0 100 100">
            <title>Active loading indicator</title>
            <circle
              class="cds--loading__background"
              cx="50%"
              cy="50%"
              r="44"
            ></circle>
            <circle
              class="cds--loading__stroke"
              cx="50%"
              cy="50%"
              r="44"
            ></circle>
          </svg>
        </div>
      </div>
      <div class="cds--inline-loading__text">Loading appointments...</div>
    </div>
  </ng-container>

  <ng-template #appointmentsContent>
    <div *ngIf="errorLoadingAppointments" class="error-message">
      Error loading appointments. Please try again later.
    </div>

    <div *ngIf="!errorLoadingAppointments" class="cds--data-table-content">
      <app-monthly-calendar
        [currentMonth]="currentDate"
        [appointments]="appointments"
        (daySelected)="onDateSelected($event)"
      ></app-monthly-calendar>
    </div>
  </ng-template>
</div>
