<div class="row">
  <div *ngIf="!showTime" class="col-xs-12 col-md-12">
    <input
      *ngIf="!showWeeks"
      type="text"
      class="form-control"
      [value]="value | date: 'mediumDate'"
      (focus)="toggleDatePicker(true)"
      readonly
      placeholder="Select Date"
    />
    <div *ngIf="showWeeks" class="input-group">
      <input
        type="text"
        class="form-control"
        class="form-control"
        [value]="value | date: 'mediumDate'"
        (focus)="toggleDatePicker(true)"
        readonly
        placeholder="Select Date"
      />
      <div class="input-group-btn">
        <button
          type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ 'WEEKS' | translate }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu up">
          <li (click)="weeksSelected(count)" *ngFor="let count of weeks">
            <span> {{ count }} {{ 'WEEKS' | translate }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="showTime" class="col-xs-8 col-md-8">
    <input
      *ngIf="!showWeeks"
      type="text"
      class="form-control"
      [value]="value | date: 'mediumDate'"
      (focus)="toggleDatePicker(true)"
      readonly
      placeholder="Select Date"
    />
    <div *ngIf="showWeeks" class="input-group">
      <input
        type="text"
        class="form-control"
        class="form-control"
        [value]="value | date: 'mediumDate'"
        (focus)="toggleDatePicker(true)"
        readonly
        placeholder="Select Date"
      />
      <div class="input-group-btn">
        <button
          type="button"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        {{ 'WEEKS' | translate }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu up">
          <li (click)="weeksSelected(count)" *ngFor="let count of weeks">
            <span> {{ count }} {{ 'WEEKS' | translate }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="showTime" class="col-xs-4 col-md-4">
    <input
      type="text"
      class="form-control"
      [value]="value | date: 'shortTime'"
      (focus)="toggleTimePicker(true)"
      readonly
      placeholder="Select Time"
    />
  </div>
</div>
<ofe-date-picker
  *ngIf="showDatePicker"
  [initDate]="value"
  (dateSelect)="setDate($event)"
  (datePickerCancel)="toggleDatePicker($event)"
></ofe-date-picker>

<ofe-time-picker
  *ngIf="showTimePicker"
  [initTime]="value"
  [use12Hour]="true"
  (timeSelect)="setTime($event)"
  (timePickerCancel)="toggleTimePicker($event)"
></ofe-time-picker>
